body {
  margin: 0;
  background-color: rgb(190, 188, 188);
}
nav {
  background-color: rgb(218, 214, 214);
  padding: 5px;
}
nav ul {
  list-style-type: none;
  display: grid;
  justify-items: flex-start;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 5px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 3px solid #000;
  padding: 5px;
}
.main {
  margin-top: 10px;
  display: grid;
  --auto-grid-min-size: 25rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
  grid-gap: 8px;
}
.main__container__item img {
  width: 100%;
}
.main__container__item video {
  width: 100%;
}
.main__container__article {
  display: flex;
  align-items: flex-start;
}

.main__container__article h2 {
  border: 3px solid #000;
  padding: 30px;
  font-family: "Anton", sans-serif;
  display: grid;
  justify-items: center;
  background-color: rgb(165, 165, 165);
  margin-top: -7px;
  padding-right: 100px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
#pink {
  height: 500px;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  nav ul li a {
    border: none;
  }
}
